<!--Footer-->
<footer class="container-fluid">
    <!--Footer Links-->
    <div class="fixed-bottom">

            <!--First column-->
            <div class="container">
                <div class="">
                    <!--Facebook-->
                    <a class=""><i class="fab fa-facebook-f"></i> </i></a>
                    <!--Twitter-->
                    <a class=""><i class="fab fa-twitter"></i> </i></a>
                    <!--Slack-->
                    <a class=""><i class="fab fa-slack"></i> </i></a>
                    <!--Linkedin-->
                    <a class=""><i class="fab fa-linkedin-in"></i> </i></a>
                    <!--Instagram-->
                    <a class=""><i class="fab fa-instagram"></i> </i></a>
                    <!--Github-->
                    <a class=""><i class="fab fa-github"></i> </i></a>
                    <!--Email-->
                    <a class=""><i class="fas fa-envelope"></i></a>
                </div>
            </div>
            <!--/First column-->
        </div>

    <!--/Footer Links-->
</footer>
<!--/Footer-->
